body{
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2c2929;
    overflow-x: hidden;
}

.container{
    padding-left: 2vw;
    padding-right: 2vw;
}

.container1{
    width: 50vw;
    margin: 0 auto;
}

section{
    height: auto;
    min-height: 20vh;
    text-align: center;
}

.back-g{
    padding-top: 6vh;
    background: #0f1223 url(../bg.png) no-repeat center;
    background-size: cover;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-left: 0;
}

#hero{
    padding-top: 8vh;
    margin-bottom: 10vh;
}

#request{
    padding-top: 2vh;
    padding-bottom: 1vh;
    color: #fff;
}

input{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

input[type="submit"] {
    background-color: transparent;
    border: 1.2px solid #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
    color: #f9f9f9;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 100;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

input[type="submit"]:disabled {
    pointer-events: none;
}

input[type="submit"]:hover {
    color: #fff;
    background-color: #ef5959;
    box-shadow: rgba(255, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

input[type="submit"]:active {
    box-shadow: none;
    transform: translateY(0);
}



input[type="text"], input[type="tel"] {
    border: none;
    border-bottom: 1px dashed #ccc; /* Линия в виде пунктира */
    outline: none; /* Убираем обводку */
    background-color: transparent; /* Прозрачный фон */
    padding: 5px 0; /* Пространство между линией и текстом */
    transition: border-color 0.3s; /* Плавное изменение цвета линии */
    color: #ccc;
    text-align: center;
}

input[type="text"]:focus, input[type="tel"]:focus {
    border-bottom-color: #ba4242; /* Цвет линии при фокусе */
}

#about{
    width: 100%;
    background-color: #1A1A1A;
}

#advant{
    width: 100%;
    background-color: #ca4646;
    color: #fff;
}

#about-mat{
    background-color: #1A1A1A;
}
.foot hr{
    width: 140px;
    height: 2px;
    border: none;
    color: #484848;
    background-color: #484848; /* Add this line to make <hr> elements red */
}

footer{
    width: 100%;
    text-align: center;
    background-color: #1A1A1A;
}

@media(min-width:820px){
    #blob-svg{
        margin-top: -5vh;
    }
}

@media(min-width:1120px){
    #blob-svg{
        margin-top: 3vh;
    }
    .blob-ctr{
        width: 50vw;

    }

    #hero{
        padding-top: 0;
    }
}


.button-28 {
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
    color: #f9f9f9;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: 40%;

  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #fff;
    border: #ff0000;
    background-color: #ef5959;
    box-shadow: rgba(255, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }



/*PORTFOLIO*/
#portfolio{
    background-color: #1e1e1e;
    width: 100%;
    height: auto;
    color: #fff;
}

#portfolio h1{
    font-family: "Roboto Condensed", sans-serif;
    color: #dadada;
    font-weight: 300;
    padding-top: 4vh;
}

.portfolio {
    display: flex;
    width: 70vw;
    margin: 0 auto;
    padding-top: 3vh;
    padding-bottom: 10vh;
  }
  
  .photo {
    position: relative;
    flex: 1;
  }
  
  .photo img {
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    font-size: 15px;
  }
  
  .photo:hover .overlay {
    opacity: 1;
  }

  @media  (max-width: 768px) {
    .portfolio {
      display: block;
      min-height: 120vh;
    }
    .photo{
      margin-bottom: -1vh;
    }
  }
  

  
  


/*HEADER*/

  header{
    height: 0;
    width: 100%;
    z-index: 2;

}

.navbar {
    align-items: center;
    justify-content: space-between;
    color: white;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    filter: none;
}

.menu {
    display: flex;
    font-size: 18px;
    list-style-type: none;
    position: fixed ;
}
.menu li {
    padding: 5px 15px;
    
}
.menu li a:hover {
    transition:all 0.5s;
    color: #d2d2d2;
    
}
#checkbox_toggle {
    display: none;
}
.hamburger{
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.hamburger-line {
    background-color:white ;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}
.hamburger-line::before,
.hamburger-line::after {
    background-color: white;
    content:'' ;
    display: block;
    position: absolute;
    transition: all .3s;
    width: 100%;
    height: 100%;
}
.hamburger-line::before {
    top: 7px;
}
.hamburger-line::after {
    top: -7px;
}


  @media (max-width:768px) {
    .menu {
        display: none;
        max-height: 0;
        overflow: hidden;
        position: fixed ;
        text-align: center;
        right: 0;
        left: 0;
        z-index: 1;
    }

    .menu li a {
        color: #ffffff;
        display: block;
        padding: 15px;
    }

    .menu li {
        padding: 5px 85px;
    }

    .menu li {
        transition: .5s;
    }


    #checkbox_toggle:checked ~ .menu{
        display: block;
        max-height: 100%;
        transition: all .5s;
    }
    
    .hamburger{
        display: block;
        padding: 15px 0;
        position: fixed ;
        z-index: 2;
    }

    #checkbox_toggle:checked ~ .hamburger .hamburger-line {
        background-color: transparent;
    }
    
    #checkbox_toggle:checked ~ .hamburger .hamburger-line::before{
        transform: rotate(-45deg);
        top: 0;
    }
    
    #checkbox_toggle:checked ~ .hamburger .hamburger-line::after {
        transform: rotate(45deg);
        top: 0;
    }


}




#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #0F1215;
	z-index: 9999999;
	height: 100%;
	width: 100%;
}

.no-js #preloader,
.oldie #preloader {
	display: none;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px; /* Изменено значение ширины */
  height: 100px; /* Изменено значение высоты */
  margin-left: -50px; /* Половина ширины */
  margin-top: -50px; /* Половина высоты */
  background-color: #ff8181;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
	0% {
		-webkit-transform: perspective(120px);
	}

	50% {
		-webkit-transform: perspective(120px) rotateY(180deg);
	}

	100% {
		-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
	}

}

@keyframes sk-rotateplane {
	0% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}

	50% {
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}

	100% {
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}

}

.error{
    color: #925a5a;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
}

